.venv/
__pycache__/
*.pyc
sample_data/tiles/positive/
sample_data/tiles/negative/
sample_data/finetune_tile/
sample_data/wsi/positive/
sample_data/wsi/negative/
iframe_figures/
*.svs
combined_tiles/
train_tiles/
test_existing/
test_new/
_finetune_temp/
finetuned_model*/
.DS_Store.ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/
